@import "util"
@import "modes/wheel"
@import "modes/flat"
@import "modes/mobile"

*
  box-sizing border-box

body
  font-family verdana,helvetica,arial,sans-serif
  color text

#top-bar
  z-index 2
  position fixed
  top 0
  left 0
  right 0
  height header-height
  background-color dark
  color white
  padding 0 5px

  font-size 20px

  > *
    margin-top 2px

.option
  float right
  font-size 15px
  margin-left 1em

  #toggle-hints
    padding-top 3px
    width 13px

  #minLength
  #maxLength
    width 40px
    background-color inherit
    color inherit
    border 2px solid lighten(dark, 60%)

#shuffled
  height 44px

  .shuffled-letter
    display inline-block
    font-size 35px
    margin 10px


.shuffled-letter
.answer-letter
  text-transform uppercase

.shuffled-letter.used
  color #aaa

#answer
#buttons
#shuffled
  display table

button
  border 3px solid dark
  color text
  font-size 20px
  padding 5px
  border-radius 10px

#hint
  display none
  background-color background

#skip
  background-color background

#reshuffle
  background-color background

#main
  margin-top header-height
  padding-top 10px
  position relative

body.full
  #game > *
    margin-bottom 20px

  #shuffled
    padding-top 20px

  #buttons
    button
      width 110px
      margin 5px

#game > *
  margin-left auto
  margin-right auto

#finished
  width 180px

  tr
    display none
    &.missed
      color incorrect-color

  .word
    padding-left 5px

  .time
    padding-right 5px
    width 40px
    text-align right
    span:after
      content: "s"

body.full
  #main
    margin-right 180px

  #right-column
    position fixed
    top header-height
    bottom 0
    right 0
    overflow auto
    background-color #eee

#footer
  font-size 90%
  display table
  text-align center
  margin 20px auto 0 auto
  color lighten(text, 60%)

  span
    width 100%
  a
    color darken(@color, 25%)
    text-decoration none
    &:hover
      text-decoration underline