html
  title Humble Jumble
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='main.css')
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
  script(src='concat.js')
  script mode = #{mobile ? 'mobileMode' : 'flat'}
  block header

  body(class=mobile ? 'mobile' : 'full')
    #top-bar
      if !mobile
        span Humble Jumble
      .option
        label(for="minLength") Word lengths:&nbsp;
        input#minLength(type="number", min="1", max="10", value=minLength)
        span &mdash;
        input#maxLength(type="number", min="2", max="20", value=maxLength)
      .option
        label(for="toggle-hints") Hints:&nbsp;
        input#toggle-hints(type="checkbox")
    #main
      #game
        #shuffled
        #answer
          if mobile
            input#mobile-input(type="text")
        #buttons
          button#skip
            span Skip
          button#reshuffle
            span Reshuffle
          button#hint
            span Hint
      #right-column
        table#finished
      #footer
        span This app uses 5,000 common English words.
        br
        span
          | words from&nbsp;
          a(href='http://www.wordfrequency.info') Brigham Young University
        br
        span
          | source on&nbsp;
          a(href="https://github.com/daviddonna/humble-jumble") GitHub
