html
  title Humble Jumble
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='main.css')
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
  script(src='main.js')
  script mode = #{mobile ? 'mobileMode' : 'flat'}
  block header

  body(class=mobile ? 'mobile' : 'full')
    #top-bar
      if !mobile
        span Humble Jumble
      #length-limits
        span Word lengths:&nbsp;
        input#minLength(type="number", min="1", max="10", value=minLength)
        span &mdash;
        input#maxLength(type="number", min="2", max="20", value=maxLength)
    #main
      #game
        #shuffled
        #answer
          if mobile
            input#mobile-input(type="text")
        #buttons
          button#skip
            span Skip
          button#hint
            span Hint
          button#reshuffle
            span Reshuffle
      #right-column
        table#finished
      #footer
        span This app uses the 5,000 most common words in the English language.
        br
        span
          | The list is from&nbsp;
          a(href='www.wordfrequency.info') www.wordfrequency.info

