.answer-letter-container
  display inline-block
  background-color background
  border-radius 8px
  padding 6px
  margin 2px
  border 1px solid white

  // a dummy is used to create intuitive behavior
  &:last-child
    width 0
    padding 0
    margin 0
    overflow hidden
    border none

  &.focus
    background-color lighten(background, 50%)

    .answer-letter
      border-color lighten(dark, 50%)

.answer-letter
  background none
  border none

  width 45px
  height 50px
  border-bottom 4px solid text
  padding 3px
  text-align center
  font-size 35px
  overflow hidden

  &.incorrect
    color incorrect-color
