body.mobile
  #top-bar
    position absolute

  #right-column
    position relative
    display table
    margin 1em auto
    font-size 150%

  #shuffled
    .shuffled-letter
      font-size 25px
      margin 7px

#mobile-input
  background none
  border 1px solid black
  border-radius 5px
  padding 5px
  font-size 25px
  text-align center
  width 100%
  text-transform uppercase
