body.mobile
  #top-bar
    position absolute

  #right-column
    position relative
    display table
    margin 0.5em auto
    font-size 150%

  #shuffled
    .shuffled-letter
      font-size 25px
      margin 7px

  #buttons
    button
      font-size 85%
      width 80px
      margin 2px

#mobile-input
  background none
  border 1px solid text
  border-radius 5px
  padding 5px
  font-size 25px
  text-align center
  width 100%
  text-transform uppercase
